<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/addstyle.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Add Superhero</title>
</head>

<body>

<form th:action="@{/super/add}" method="post" th:object="${superheroForm}">
  <p>
    <label for="heroName">Hero Name:</label>
    <input type="text" id="heroName" name="heroName" th:field="*{heroName}" />
  </p>
  <p>
    <label for="realName">Real Name:</label>
    <input type="text" id="realName" name="realName" th:field="*{realName}" />
  </p>
  <p>
    <label for="creationYear">Creation Year:</label>
    <input type="text" id="creationYear" name="creationYear" th:field="*{creationYear}" />
  </p>

  <div>
    <label>Superpowers:</label>
    <br/>
    <div th:each="sp : ${superpowers}">
      <input type="checkbox" th:field="*{powerList}" th:value="${sp}" th:text="${sp}" style="margin: 6px"/>
    </div>
    <br/>
  </div>

  <p>
    <label>City:</label>
    <select th:field="*{city}">
      <option th:each="c : ${cities}" th:value="${c}" th:text="${c}"></option>
    </select><br/>
  </p>

  <p>
    <input type="submit" value="Create Superhero" />
  </p>

</form>

</body>
</html>

