<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/addstyle.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Add Superhero</title>
</head>


<form th:action="@{/super/add}"  method="post" th:object="${superhero}">
  <p>
    <label for="heroName">Hero Name:</label>
    <input type="text" id="heroName" name="hero_Name" th:field="*{hero_Name}" />
  </p>
  <p>
    <label for="realName">Real Name:</label>
    <input type="text" id="realName" name="real_Name" th:field="*{real_Name}" />
  </p>
  <p>
    <label for="creationYear">Creation Year:</label>
    <input type="text" id="creationYear" name="creation_year" th:field="*{creation_year}" />
  </p>

  <div>
    <label>Superpowers:</label>
    <input type="checkbox" th:field="*{superpower}" th:each="sp : ${powerList}" th:value="${sp}" th:text="${sp}" style="margin: 6px"/>
    <br/><br/>
    <br/>
  </div>


  <p>
    <label>City:</label>
    <select th:field="*{citiesDTO}">
      <option th:each="c : ${cityList}" th:value="${c}" th:text="${c}"></option>
    </select><br/>
  </p>

  <p>
    <input type="hidden" id="city_Id" name="selectedValue" th:field="*{citiesDTO.selectedValue}" />
  </p>


  <p>
  <input type="hidden" id="superpower_id" name="selectedValue" th:field="*{superpowerDTO.selectedValue}"/>
  </p>

  <p>
    <input type="submit" value="Create Superhero" />
  </p>

</form>

</body>
</html>


