<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Superheroes</title>
</head>
<body>
<div class="container">
    <h1>Superheroes</h1>
    <table>
        <thead>
        <tr>
            <th>Hero Name</th>
            <th>Hero Real-name</th>
            <th>Creation Year</th>
            <th>Superpowers</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hero : ${getAllHeroes}">
            <td th:text="${hero.hero_name}"></td>
            <td th:text="${hero.real_name}"></td>
            <td th:text="${hero.creation_year}"></td>
            <td>
                <a th:href="@{super/powers(name=${hero.hero_name})}">
                    <button>Superpowers</button>
                </a>
            </td>
            <td>
                <form th:action="@{/super/update}" method="get">
                    <input type="hidden" th:name="id" th:value="${hero.id}" />
                    <button>Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{super/add}">
        <button>Add Superhero</button>
    </a>
</div>
</body>
</html>
