<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{updatestyle.css}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Update Superhero</title>
</head>

<body>
<h1>Update Superhero</h1>
<form th:object="${superheroForm}" th:action="@{/update}" method="post">
  <input type="hidden" th:field="*{id}" />
  <div>
    <label>Hero Name:</label>
    <input type="text" th:field="*{hero_name}" />
  </div>
  <div>
    <label>Real Name:</label>
    <input type="text" th:field="*{real_name}" />
  </div>
  <div>
    <label>Creation Year:</label>
    <input type="text" th:field="*{creation_year}" />
  </div>
</form>
