<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:c="">
<head>
  <link th:href="@{/updatestyle.css}" rel="stylesheet">
  <meta charset="UTF-8">

  <title>Update Superhero</title>

</head>
<body>

<h1>Update Superhero</h1>
<form action="/add" method="POST">
  <label for="heroName">Hero Name:</label>
  <input type="text" id="heroName" name="heroName"><br><br>

  <label for="realName">Real Name:</label>
  <input type="text" id="realName" name="realName"><br><br>

  <label for="creationYear">Creation Year:</label>
  <input type="text" id="creationYear" name="creationYear"><br><br>

  <label for="city"></label><select name="city" id="city">
  <option value="">--Select a City--</option>
  <c:forEach var="city" items="${cities}">
    <option value="${city.name}" th:selected="${superheroForm.city == cities}"></option>
  </c:forEach>
</select>

  <label for="superpowers">Superpowers:</label>
  <select multiple name="superpowers" id="superpowers">
    <c:forEach var="superpower" items="${allSuperpowers}">
      <option value="${superpower.name}">${superpower.name}</option>
    </c:forEach>
  </select><br><br>

  <input type="submit" value="Add Superhero">
</form>

</body>
</html>
